.bloc-tab{
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	/* background-color: rgb(157, 157, 157); */
	justify-content: space-around;
}


.image-tab{
	width: 40px;
	height: auto;
	margin: 10px;
}

.image-tab:hover{
	transform: scale(1.2);
	transition: transform 0.2s ease;
}

.image-tab-opacity{
	width: 40px;
	opacity: 0.5;
	height: auto;
	margin: 10px;
}

.image-tab-opacity:hover{
	transform: scale(1.2);
	transition: transform 0.2s ease;
}
