.bloc-tab{
	height: 100%;
	/* border-radius: 10px; */
	display: flex;
	margin: 0px 10px;
	flex-direction: row;
	/* background-color: rgb(157, 157, 157); */
	justify-content: space-between;
}

.tab1{
	width: 25%;
	height: 40px;
	margin: 10px;
	border-radius: 10px;
	background-image: url('tab.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color:  white;
	background-size: contain; /* Ajuste la taille de l'image pour contenir le bouton */
	background-color: transparent;
	border:none;
	transition: transform 0.2s ease;
}

.tab2{
	width: 25%;
	height: 40px;
	margin: 10px;
	border-radius: 10px;

	background-image: url('ping-pong.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	border:none;
	background-size: contain; /* Ajuste la taille de l'image pour contenir le bouton */
	transition: transform 0.2s ease;
}


.tab3{
	margin: 10px;
	width: 25%;
	height: 40px;
	border-radius: 10px;

	background-image: url('ajouter-un-groupe.png');
	background-repeat: no-repeat;
	background-size: contain; /* Ajuste la taille de l'image pour contenir le bouton */
	background-position: center center;
	background-color:  white;
	background-color: transparent;
	border:none;
	transition: transform 0.2s ease;
}


.tab5{
	margin:10px;
	width: 25%;
	height: 40px;
	border-radius: 10px;
	
	background-image: url('interdit.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color:  white;
	background-size: contain; /* Ajuste la taille de l'image pour contenir le bouton */
	background-color: transparent;
	border:none;
	transition: transform 0.2s ease;
}

.tab4{
	margin:10px;
	width: 25%;
	height: 40px;
	border-radius: 10px;
	
	background-image: url('stats.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-color:  white;
	background-size: contain; /* Ajuste la taille de l'image pour contenir le bouton */
	background-color: transparent;
	border:none;
	transition: transform 0.2s ease;
}

.tab1:hover {
	transform: scale(1.3);
}
.tab2:hover {
	transform: scale(1.3);
}
.tab3:hover {
	transform: scale(1.3);
}
.tab4:hover {
	transform: scale(1.3);
}
.tab5:hover {
	transform: scale(1.3);
}