.bloc-btn {
	flex-direction: row;
	height: 7%;
	margin: 10px;
	justify-content: space-between;
	text-align: center;
	display: flex; /* Utilisez flexbox pour diviser en colonnes */
    align-items: center; /* Centre verticalement */
}