.bloc-profils-settings{
	flex-direction: column;
	width: 100%;
	height: 100%;
	text-align: center;

}
.profil-image{
	max-width: 33%;
	margin: 10px;
	aspect-ratio: 1/1;
}
.upload-image img {
	width: 100%;
	height: auto;
	object-fit: contain; /* Cette propriété permet de conserver le ratio d'aspect tout en coupant l'image si nécessaire */
  }
.upload-image {
    flex-direction: row;
    display: flex;
    height: 50%;
    justify-content: space-around;
    margin: 20px;
}
.change-username{
	justify-content: center;
	flex-direction: row;
	/* border-bottom: 1px solid #333; */
	display: flex;
	width: 100%;
	height: 50%;
	margin-bottom: 40px;
	text-align: center;
	align-items: center;

}

.form-change-username{
	font-size: 20px;
	width: 100%;
}



.button-modified-image {
	margin: 10px;
	padding: 10px 15px;
	font-size: 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;

  }
  
  .button-modified-image:hover {
	background-color: #45a049;
  }

.button-modified-username {
	margin: 10px;
	padding: 10px 15px;
	font-size: 16px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
  }
  
  .button-modified-username:hover {
	background-color: #45a049;
  }