.bloc-discussion-chat {
    scroll-behavior: auto;
    box-sizing: border-box;
    background-color: var(--fourth);
    margin: 0px 10px 10px 10px;
    width: calc(100% - 20px);
    height: 100%;
    border-radius: 10px;
    overflow: scroll;
    color: var(--first);
}

.receive-chat {
    margin: 10px;
    width: fit-content;
}

.my-message, .other-message {
    width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 5px;
    margin: 5px;
    white-space: pre-wrap;
    max-width: 100%;
}

.my-message {
    background-color: cornflowerblue;
    border-radius: 15px 15px 0px 15px;
    margin-left: auto;
    align-self: flex-end;
}

.other-message {
    background-color: slategray;
    border-radius: 15px 15px 15px 0px;
    margin-right: auto;
    align-self: flex-start;
}

.discussion-chat-content {
    font-family: 'Gill Sans' , sans-serif;
    margin: 5px;
    max-width: 80%; 
	font-size: 20px;
    width: fit-content;
}

.discussion-chat-date {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin: 5px;
    width: fit-content;
}

  