.bloc-discussion-chat {
    scroll-behavior: auto;
    box-sizing: border-box;
    /* background-color: #848288; */
    margin: 0px 10px 0px 10px;
    width: calc(100% - 20px);
    height: 93%;
    overflow: scroll;
    color: var(--first);
}

.receive-chat {
    margin: 10px;
    width: fit-content;
}

.my-message, .other-message {
    width: 70%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 5px;
    margin-top: 10px;
	margin-bottom: 10px;
    white-space: pre-wrap;
    max-width: 100%;
}

.my-message {
    background-color: #1bb418;
    border-radius: 15px 15px 0px 15px;
    margin-left: auto;
    align-self: flex-end;
}

.other-message {
	background-color: #69686c;


    border-radius: 15px 15px 15px 0px;
    margin-right: auto;
    align-self: flex-start;
}

.discussion-chat-content {
    font-family: 'Gill Sans' , sans-serif;
    color: white;
    margin: 5px;
    max-width: 80%; 
	font-size: 23px;
    width: fit-content;
}

.discussion-chat-date {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin: 5px;
    width: fit-content;
	color: #ffffff;

}

  