.bloc-send-chat-channel{
	display: flex;
	justify-content: space-between;
	resize: none;
	
}
.input-chat-channel{
	/* border: 3px solid #333; */
	box-sizing: border-box;
	background-color:#a1a1a1 ;
	margin: 0px 10px 10px 10px;
	width: 90%;
	border-radius:10px;
	width: 100%;
	padding: 10px;
	resize: none;
}
.button-send-channel{
		/* scroll-behavior: auto; */
		box-sizing: border-box;
		/* border: 3px solid #333; */
		margin: 0px 10px 10px 0px;
		width: 10%;
		border-radius:10px;
		background-color: transparent;
		overflow: scroll;
		color: #000000;
		background-image: url('send.png');
		border: none;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center center;
		transition: transform 0.2s ease;
}
.button-send-channel:hover {
	transform: scale(1.2);
}