.bloc-header-settings {
	flex-direction: row;
	height: 7%;
	justify-content: space-between;
	text-align: center;
	display: flex;
	position: relative;
    align-items: center;
}

.header-settings-button {
	flex :1;
	height: 100%;
	color: white;
	background-color: rgb(32, 31, 31);
	border: none;
} 

.header-settings-button:hover {
	background-color: rgb(193, 193, 193);
} 

.header-settings-button.clicked {
	background-color: rgb(193, 193, 193);
} 
