.bloc-header-settings {
	display: flex;
	flex-direction: row;
	height: 7%;
	justify-content: space-between;
	text-align: center;
	position: relative;
	align-items: center;
  }
  
  .header-settings-button {
	padding: 10px 15px;
	background-color: transparent;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-family: 'Gill Sans' , sans-serif;
	font-size: 26px;
	transition: transform 0.3s, background-color 0.3s;
	flex:1;
  }
  
  .header-settings-button:hover {
	font-family: 'Gill Sans' , sans-serif;
	transform: scale(1.4);
	font-weight: bold;
	
}

.header-settings-button.clicked {
	font-family: 'Gill Sans' , sans-serif;
	transform: scale(1.4);
	font-weight: bold;

  }
  