.container {
	display: flex;
	height: 90%;
}

:root {
	--first: #8ecae6ff;
	--second: #2671bcff;
	--third: #e97700ff;
	--fourth: #ffb703ff;
	--fifth: #d1470bff;
  }
body, html {
	margin: 0;
	padding: 0;
}
body{
	position: fixed;
  height: 100vh;
  width: 100vw;

  font-size: 20px; /* Exemple de taille de police */
  font-family: 'Gill Sans', sans-serif;
}

/*
d1470b
e97700
ffb703
8ecae6
2671bc
*/