.container {
	display: flex;
	height: 90%;
}

:root {
	--first: #998a8aff;
	--second: #332122ff;
	--third: #6b0f1aff;
	--fourth: #996e6aff;
	--fifth: #70504dff;
  }
body, html {
	margin: 0;
	padding: 0;
}
body{
	position: fixed;
  height: 100vh;
  font-size: 20px; /* Exemple de taille de police */
  font-family: 'Gill Sans', sans-serif;
}