.container {
	display: flex;
	height: 90%;
}

:root {
	--first: #dce0d9ff;
	--second: #31081fff;
	--third: #6b0f1aff;
	--fourth: #595959ff;
	--fifth: #808f85ff;
  }
body, html {
	margin: 0;
	padding: 0;
}
body{
	position: fixed;
  height: 100vh;
  font-size: 20px; /* Exemple de taille de police */
  font-family: 'Gill Sans', sans-serif;
}