.file-drop-zone {
	border: 4px dashed #ccc;
	padding: 10px; /* Réduisez la taille de la zone de dépôt */
	text-align: center;
	background-color: var(--fourth); /* Fond rouge */
	display: relative;
	align-items: center;
	justify-content: center;
	height: 200px;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.dragging {
	border-color: #00cc00; /* Changez la couleur de la bordure en vert pendant le glissement */
	background-color: #f0faff;
}
.drag-and-drop {
	font-size: 20px;
	margin: 10px;
	color: #000000; /* Texte blanc */
}
.bloc-drag-avatar {
	display: flex;
	flex-direction: column;
	width: 33%;
	align-items: center;
  }