.bloc-channel-chat {
    scroll-behavior: auto;
    box-sizing: border-box;
    background-color: var(--fourth);
    margin: 0px 10px 10px 10px;
    width: calc(100% - 20px);
    height: 100%;
    border-radius: 10px;
    overflow: scroll;
    color: var(--first);
}

.receive-chat {
    margin: 10px;
    width: fit-content;
}

.my-message-channel, .other-message-channel {
    width: calc(100% - 20px);
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 5px;
    margin: 5px;
    white-space: pre-wrap;
    max-width: 100%;
}

.my-message-channel {
    background-color: cornflowerblue;
    border-radius: 15px 15px 15px 15px;
    margin-left: auto;
}

.bloc-avatar-username {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-left: 5px;
	margin-right: 5px;
	width: calc(100% - 10px);
	text-align: center;
}
.other-message-channel {
	background-color: slategray;
	border-radius: 15px 15px 15px 15px;
}

.user-name{
	font-family: 'Gill Sans' , sans-serif;
	margin: 5px;
	width: 100%; 
	font-size: 15px;
	width: fit-content;
	display: block;
	text-align: center;
}
.channel-chat-content {
	font-family: 'Gill Sans' , sans-serif;
	margin: 10px;
	max-width: calc(100% - 10px); 
	font-size: 20px;
	width: fit-content;
}

.channel-chat-date {
	font-family: 'Gill Sans' , sans-serif;
	font-size: small;
	margin: 10px;
	width: fit-content;
}
.avatar-channel{
	flex: 0 0 40px; /* Taille fixe pour l'avatar, ajustez selon vos besoins */
	max-width: 40px; /* Garantit que l'avatar ne dépasse pas cette largeur */
	height: auto; /* Ajustez la hauteur en conséquence ou utilisez une valeur fixe */
	align-items: center;
	justify-content: center;
}
.bloc-contain {
	display: flex; 
	flex-direction: column;
	align-items: center;
  }

.list-users-channel{
	background-color: var(--fourth);

	margin: 10px;
	margin-top: 0px;
	border-radius: 10px;
	display: flex;
	flex-direction: row;
}

.img-list-users-channel{
	width: 50px;
	height: auto;
	margin: 10px;
}
.admin{

}