.bloc-channel-chat {
    scroll-behavior: auto;
    box-sizing: border-box;
    background-color: var(--fourth);
    margin: 0px 10px 10px 10px;
    width: calc(100% - 20px);
    height: 100%;
    border-radius: 10px;
    overflow: scroll;
    color: var(--first);
}


.channel-chat-content {
    font-family: 'Courier New', Courier, monospace;
    padding: 2%;
}

.channel-chat-date {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin: 10px;
    width: fit-content;
}