.bloc-channel-chat {
    scroll-behavior: auto;
    box-sizing: border-box;
    background-color: var(--fourth);
    margin: 0px 10px 10px 10px;
    width: calc(100% - 20px);
    height: 100%;
    border-radius: 10px;
    overflow: scroll;
    color: var(--first);
}

.message-container {
    margin: 10px;
    width: fit-content;
}

.my-message {
    background-color: #4CAF50;
    color: white;
    border-radius: 0 10px 10px 10px;
    margin-left: auto;
    padding: 10px;
    margin: 10px 0;
    align-self: flex-end;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.other-message {
    background-color: #ddd;
    color: black;
    border-radius: 10px 0 10px 10px;
    margin-right: auto;
    padding: 10px;
    margin: 10px 0;
    align-self: flex-start;
    max-width: 80%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.channel-chat-content {
    font-family: 'Courier New', Courier, monospace;
    padding: 2%;
}

.channel-chat-date {
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
    margin: 10px;
    width: fit-content;
}
