.bloc-discussion{
    /* scroll-behavior: auto; */
    box-sizing: border-box;
    background-color:#a1a1a1 ;
    /* border: 3px solid #333; */
    margin: 0px 10px 10px 10px;
    width: 95%;
    height: 100%;
    border-radius:10px;
    overflow: scroll;
    background-color:#a1a1a1 ;
    color: #000000;
}
.discussion{
    margin: 10px;
}