.pong-container {
	position: relative;
	background-image: 
	linear-gradient(rgba(255, 255, 255, 0.2) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, transparent 1px);
	background-size: 5vw 5vw;
    overflow: hidden;
    display: flex;
	height: 100%;
	width: 100%;
    align-self: center;
	border-top:3px solid white;
	border-bottom:3px solid white;
	border-left: 3px dashed #ffffff;
	border-right: 3px dashed #ffffff;
    justify-content: center; 
}
  
.scoreboard
{
	display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;

}

  .ball
  {
    position: absolute;
    background-color: #00ff3c;
    border-radius: 100%;
  }
  
  .pongpaddle {
    position: absolute;
    background-color: #ffffff;
    border-radius: clamp(10px, 5vw, 25px);
  }

.col-heading {
	color: rgb(252, 252, 252);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 50%;
}
.name-heading {
	display: flex;
	align-items: center;
	height: 50%;
	font-size: 3vw;
	font-family: 'Gill Sans', sans-serif;
	font-weight: bold;
	color: rgb(252, 252, 252);
}
.score-heading {
	display: flex;
	align-items: center;
	font-size: 7vw;
	font-family: 'Gill Sans', sans-serif;
	font-weight: bold;
	height: 50%;
	color: rgb(252, 252, 252);
}

  @media only screen and (max-width: 600px) {
    body {
      padding:20px 0px;
      height:100%;
    }
    .container {
      margin: auto auto;
      padding-block: 30px;
      flex-direction: column;
      gap: 10px;
      max-height: 100%;
    }
  }
  
  .game-blur {
    filter: blur(5px);
  }
  
  .countdown-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: white;
    animation: gameCountdown 3s linear forwards; /* Animation de 3 secondes */
}

@keyframes gameCountdown {
    0% { opacity: 1; } /* Début de l'animation */
    100% { opacity: 0; } /* Fin de l'animation */
}

.no-blur-game {
  filter: none;
}