.bloc-channel-list {
	display: flex;
	flex-wrap: wrap;
	max-height: 100%;
	overflow-y: auto; /* Activer le défilement vertical si nécessaire */
  }

  .button-channel-list-add {
	background-color: whitesmoke;
	border: var(--fourth);
	border: 5px solid gray; 
	flex-basis: calc(50% - 20px); /* Chaque élément occupe 50% de la largeur - marges */
	margin: 10px; /* Espacement externe pour un aspect agréable */
	padding: 10px; /* Espacement interne pour un aspect agréable */
	color: black;
	font-size: 20px;
	font-family: Arial, sans-serif;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	aspect-ratio: 1 / 1;
	position: relative;
  }
  .button-channel-list-add:hover {
	background-color: rgb(54, 190, 82);
  }
  
  .button-channel-list-add span {
	max-height: 50px;
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}
.button-channel-list {
	background-color: var(--fourth);
	border: none;
	flex-basis: calc(50% - 20px); /* Chaque élément occupe 50% de la largeur - marges */
	margin: 10px; /* Espacement externe pour un aspect agréable */
	padding: 10px; /* Espacement interne pour un aspect agréable */
	color: aliceblue;
	font-size: 20px;
	font-family: Arial, sans-serif;
	border-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	aspect-ratio: 1 / 1;
	position: relative;
	}
	.button-channel-list span {
		max-height: 50px;
		overflow: hidden;
		text-overflow: ellipsis; 
		white-space: nowrap;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
  }
  
  .button-channel-list:hover {
	background-color: var(--fifth);
  }
  
.button-channel-list:hover{
	background-color: var(--fifth);
}