.main-button-chat {
	border: none;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 100%;
	width: calc(33% - 10px);
	border-top: none;
	background-color: #848288;
	color: #f0f0f0;
	transition: background-color 0.3s ease;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 10px;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Gill Sans' , sans-serif;
}
.image-main-button-chat {
  background-image: url('chat.png');
  background-repeat: no-repeat;

  background-position: center center;
  background-color: transparent;
}

.logo-class {
	filter: brightness(0) invert(1);
  }

.main-button-chat:hover {
	/* Nouvelle couleur de fond lorsque vous survolez le bouton */
	background-color: #800e43;
	}

.main-button-chat.clicked {
	/* Nouvelle couleur de fond lorsque vous survolez le bouton */
	background-color: #aa1359;
	}