/* Styles pour le fond du jeu */


.slider-thumb {
	display: flex;
	justify-content: center; /* Centers horizontally */
	flex-direction: column;
	align-items: center; /* Centers vertically */
	/* Ensure the div has a specified height or takes up the full height of its parent if not already defined */
	height: 100%; /* Adjust based on your layout's needs */

  }
.slider-thumb::before {
  z-index: 50;
  /* position: absolute; */
  content: "";
  left: 30%;
  top: 20%;
  width: 50vmin;
  height: 50vmin;
  aspect-ratio: 1/1;
  background: #848288;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}


.background-game {
	color: #fff; /* Couleur du texte principale */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	height: 100vh; /* Hauteur de l'écran */
  }
  
  /* Styles pour le titre du jeu */
  .titleClass {
	font-size: 2em;
	margin-bottom: 20px;
  }
  
  /* Styles pour les boutons */
  .buttonclass {
	display: flex;
	background-color: #3498db; /* Couleur de fond par défaut */
	color: #fff; /* Couleur du texte par défaut */
	padding: 10px 20px;
	margin: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 1em;
  }
  
  .buttonclass.clicked {
	background-color: #2ecc71; /* Couleur de fond lorsque le bouton est cliqué */
  }
  
  /* Ajoutez du style spécifique pour les deux boutons dans le cas où startGame est true */
  .buttonclass + .buttonclass {
	margin-top: 5px;
  }
  