.block-auth{
    display: flex;

	background: url('accueil.webp') no-repeat center center fixed;
	background-size: cover;
	width: 100vw;
    height: 100vh;
}

  .button-auth {
	position: absolute;
	top: 15px;
	right: 15px;
	background-color: #c1c1c1;
	color: #fff;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	transition: 0.3s ease; 
  }
  
  .button-auth:hover {
	background-color: #9871a7;
  }
.button-auth:hover{
    transform: scale(1.1);
}