/*.bloc-discussion-list{
	scroll-behavior: auto;
	overflow: scroll;
	display: flex;
	flex-direction: column;
}

.discussion-list{
	background-color: var(--fourth);
	height: 100%;
	border : none;
	color: aliceblue;
	font-size: 20px;
	font-family: Arial, sans-serif;
	border-radius: 10px;
	align-items: center;
	flex:1;
}

.bloc-button-discussion-list{
	display: flex;
	align-items: center;;
	border-radius: 10px;
	margin: 10px;

}

.button-discussion-list-add{
	flex-grow: 1;
	margin: 10px;
	border: 5px solid var(--fourth);
	border-radius: 10px;
	height: 40px;

}

.button-discussion-list-add:hover{
	background-color: rgb(54, 190, 82);
}
.discussion-list:hover{
	background-color: var(--fifth);
}

.on-off {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 8px;
	display: inline-block;
	margin: 15px;
	border-color: var(--second);
  }

.profil-discussion-list.on{
	background-color: green;
	box-shadow: 0 0 10px green;
}

.profil-discussion-list.off{
	background-color: red;
	box-shadow: 0 0 10px red;
}
.profil-discussion-list{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0px 10px;
	background-image: url('picture1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}*/

.bloc-discussion-list {
	display: flex;
	flex-wrap: wrap;
	max-height: 100%;
	overflow-y: auto;
}
  
.button-discussion-list {
	  background-color: var(--fourth);
	  border: none;
	  flex-basis: calc(50% - 20px);
	  margin: 10px;
	  padding: 10px;
	  color: aliceblue;
	  font-size: 20px;
	  font-family: Arial, sans-serif;
	  border-radius: 10px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	  box-sizing: border-box;
	  aspect-ratio: 1 / 1;
	  position: relative;
}
/*
.button-discussion-list span {
		max-height: 50px;
		overflow: hidden;
		text-overflow: ellipsis; 
		white-space: nowrap;
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		transform: translateY(-50%);
}
*/
.button-discussion-list:hover {
	background-color: var(--fifth);
}
  
.button-discussion-list:hover{
	background-color: var(--fifth);
}