.bloc-discussion-list{
	/* scroll-behavior: auto; */
	overflow: scroll;
	display: flex;
	flex-direction: column;
}
.discussion-list{
	background-color: var(--fourth);
	height: 100%;
	border : none;
	color: aliceblue;
	font-size: 20px; /* Exemple de taille de police */
	font-family: Arial, sans-serif;
	border-radius: 10px;
	align-items: center;
	flex:1;
}

.bloc-button-discussion-list{
	display: flex;
	align-items: center;;
	border-radius: 10px;
	margin: 10px;

}

.button-discussion-list-add{
	flex-grow: 1; /* Permet à l'élément de prendre autant d'espace que possible */
	margin: 10px;
	border: 5px solid var(--fourth); /* Remplacez var(--border-color) par votre couleur de bordure souhaitée */
	border-radius: 10px;
	height: 40px;

}

.button-discussion-list-add:hover{
	background-color: rgb(54, 190, 82);
}
.discussion-list:hover{
	background-color: var(--fifth);
}

/*avatar du profil*/
.on-off {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 8px;
	display: inline-block;
	margin: 15px;
	border-color: var(--second);
  }

.profil-discussion-list.on{
	background-color: green;
	box-shadow: 0 0 10px green;
}

.profil-discussion-list.off{
	background-color: red;
	box-shadow: 0 0 10px red;
}
.profil-discussion-list{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0px 10px; /* Espacement entre le logo et le nom */
	background-image: url('picture1.png');
	background-size: cover; /* Ajuste la taille de l'image pour remplir le cercle */
	background-repeat: no-repeat;
	background-position: center center;
}