.left-half {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35%;
	z-index: 90;
	height: 90vh;
	background-color: aliceblue
}

@media only screen and (max-width: 800px) {
    .left-half {
		height: 45vh;
	  width: 100%;
    }
  }

.header-body{
	display: flex;
	flex-direction: column;
	height: 100%;
}