.left-half {
	background-color: var(--first);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 35%;
}

@media only screen and (max-width: 800px) {
    .left-half {
		height: 50%;
	  width: 100%;
    }
  }