.header {
    /* width: 100%; */
    height: 10%;
    background-color: var(--second);
    color: #fff;
    display: flex;
    align-items: center;
	justify-content: center;
	text-align: center;
}
.button-settings{
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: none; 
}
.button-profils{
	height: 75%;
	width: 75%;
    aspect-ratio: 1 / 1; /* Maintient la forme carrée */

	background: rgba(255, 255, 255, 0.1);
	border: 10px  solid rgb(116, 116, 116); 
	border-radius: 5px;
}
.bloc-pong,
.bloc-profils,
.bloc-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.bloc-username{
	width: 80vw;
	font-family: 'Arial', sans-serif;
	font-size: 10px;
	margin:10px;
	font-weight: 700;
	text-align: center;
}

.bloc-pong{
	width: 80vw;
	font-weight: bold;
	font-size: 40px;
    font-family: 'Gill Sans' , sans-serif;
	font-weight: 700;
	
}
.bloc-profils{
	width: 10vw;
}
.bloc-settings{
	width: 10vw;
}
.profils {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
	border-radius: 10px;
}
.settings{
	height: 50%; /* Ajustez la hauteur selon vos besoins */
	width: auto;
	object-fit: contain;
	
}
.button-settings:hover .settings {
	transform: rotate(80deg) scale(1.15);;
	transition: transform 0.3s ease; /* Ajoutez une transition pour une animation fluide */
  }

  .button-profils:hover {
	transform: scale(1.15);
	transition: transform 0.3s ease; /* Ajoutez une transition pour une animation fluide */
}