.username{
	font-family: 'Gill Sans' , sans-serif;
	font-size: 15px;
	color: white;
	margin:5px;
	font-weight: 700;
	text-align: center;
}
.header {
    width: 100vw;
    height: 10%;
	background: hsl(267, 8%, 5%);
    color: #fff;
    display: flex;
align-items: center;
	justify-content: center;
	text-align: center;
}
.button-settings{
	height: 100%;
	width: 100%;
	background-color: transparent;
	border: none; 
}
.button-profils{
	height: 75%;
    width: 75%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
	/* border-radius: 50px; */
}
.bloc-pong,
.bloc-profils,
.bloc-settings {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.bloc-username{
	width: 80vw;
	font-family: 'Gill Sans' , sans-serif;
	font-size: 10px;
	margin:10px;
	font-weight: 700;
	text-align: center;
}

.bloc-pong{
	width: 65vw;
	font-weight: bold;
	font-size: 34px;
    font-family: 'Gill Sans' , sans-serif;
	font-weight: 700;
	
}
.bloc-profils{
	width: 15vw;
}
.bloc-settings{
	width: 10vw;
}
.profils {
    height: 70%;
    width: auto;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 10px;
}
.settings{
	height: 50%; /* Ajustez la hauteur selon vos besoins */
	width: auto;
	object-fit: contain;
	
}
.button-settings:hover .settings {
	transform: rotate(80deg) scale(1.15);;
	transition: transform 0.3s ease; /* Ajoutez une transition pour une animation fluide */
  }

  .button-profils:hover {
	transform: scale(1.15);
	transition: transform 0.3s ease; /* Ajoutez une transition pour une animation fluide */
}

.bloc-notifications {
    width: 10vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .button-notifications {
	display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 10vw;
    height: 100%;
	justify-content: center;
  }
  
  .notifications-icon {
	  height: 70%;
	  width: auto; 
	  aspect-ratio: 1 / 1;
  }

  .notification-icon-container {
	height: 70%;
	width: auto; 
	aspect-ratio: 1 / 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
  @keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.button-notifications.shake {
  animation: shake 0.5s ease-in-out;
}

.notif-window {
	position: fixed;
	top: 9vh;
	right: 15vw;
	width: 300px;
	background-color: #a6a6a6;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	z-index: 200;
	border-radius: 5px;
  }
  
  .notif {
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .notif-username {
	font-weight: bold;
	margin-right: 10px;
  }
  
  .notif-accept,
  .notif-decline {
	background-color: #3498db;
	color: #fff;
	border: none;
	padding: 5px 10px;
	margin-left: 10px;
	cursor: pointer;
	border-radius: 3px;
  }
  
  /* Styles pour le bouton de fermeture */
  .notif-header {
	padding: 10px;
	background-color: #3498db;
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .close-btn {
	background-color: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
  }
  
  .notification-badge {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	/* top: 0; */
	right: 5px;
	background-color: #58140d;
	color: #fff;
	font-size: 12px;
	padding: 5px;
	border-radius: 50%;
  }