.right-half {
	height: 90vh;
    width: 75vw;
	background: linear-gradient(180deg,#0d0b0c,#aa1359);
	z-index: 1;
    }

@media only screen and (max-width: 800px) {
	.right-half {
		height: 45vh;
		width: 100vw;
	}
	}
