.right-half {
    background-color: #453232ff;
    radius: 20px;
    height: calc(100%);
    width: 75%;
    }

@media only screen and (max-width: 800px) {
	.right-half {
		height: 50%;
		width: 100%;
	}
	}
